    @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");
    body {
        background: #c670ed;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    *:focus {
        outline: none;
    }
    
    .wrapper {
        min-height: 100vh;
        display: flex;
        padding: 50px 15px;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (max-width: 700px),
    (max-height: 500px) {
        .wrapper {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    
    .card-form {
        max-width: 570px;
        margin: auto;
        width: 100%;
    }
    
    @media screen and (max-width: 576px) {
        .card-form {
            margin: 0 auto;
        }
    }
    
    .card-form__inner {
        background: #fff;
        box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
        border-radius: 10px;
        padding: 35px;
        padding-top: 80px;
    }
    
    h1 {
        text-align: center;
    }
    
    @media screen and (max-width: 480px) {
        .card-form__inner {
            padding: 25px;
            padding-top: 165px;
        }
    }
    
    @media screen and (max-width: 360px) {
        .card-form__inner {
            padding: 15px;
            padding-top: 165px;
        }
    }
    
    .button-wrapper {
        position: relative;
        width: 150px;
        text-align: center;
        margin: 10px auto;
    }
    
    .button-wrapper span.label {
        position: relative;
        z-index: 0;
        display: inline-block;
        width: 100%;
        background: #B721FF;
        cursor: pointer;
        color: #fff;
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 12px;
    }
    
    #upload {
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
    
    button {
        width: 150px;
        margin: 10px auto;
        position: relative;
        display: inline-block;
        width: 100%;
        background: #B721FF;
        color: #fff;
        cursor: pointer;
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 12px;
    }